<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projectWG.board.mapper.BoardMapper">

    <select id="selectByNo" parameterType="int" resultType="com.projectWG.board.vo.Board">
        SELECT
            *
        FROM BOARD
        WHERE board_no = #{boardNo} AND del_yn LIKE ('N')
    </select>

    <update id="increaseRegCount" parameterType="int">
        UPDATE
            BOARD
        SET
            reg_cnt = reg_cnt + 1
        WHERE
            board_no = #{boardNo}
    </update>

    <sql id="boardColumns">
        board_no
        , register
        , password
        , board_title
        , contents
        , reg_cnt
        , reg_date
        , modi_date
        , del_yn
        , del_date
    </sql>


    <select id="selectAllWithKeyword" resultType="com.projectWG.board.vo.Board">
        SELECT
        board_no, board_title, register, reg_date, reg_cnt
        FROM BOARD
        <if test="searchType == 'title'">
            WHERE
            board_title
            LIKE
            concat('%', #{keyword}, '%') AND del_yn LIKE ('N')
        </if>
        <if test="searchType == 'register'">
            WHERE
            register
            LIKE
            concat('%', #{keyword}, '%') AND del_yn LIKE ('N')
        </if>
        ORDER BY board_no DESC
        LIMIT #{skip}, #{amount}
    </select>

    <select id="getBoardTotal" resultType="int">
        SELECT
        count(*)
        FROM
        BOARD
        <if test="searchType == 'title'">
            WHERE
            board_title
            LIKE
            concat('%', #{keyword}, '%') AND del_yn LIKE ('N')
        </if>
        <if test="searchType == 'register'">
            WHERE
            register
            LIKE
            concat('%', #{keyword}, '%') AND del_yn LIKE ('N')
        </if>
    </select>

    <insert id="insert" parameterType="com.projectWG.board.vo.Board">
        INSERT INTO BOARD
            (
                register,
                password,
                board_title,
                contents
            )
        VALUES
            (
                #{register},
                #{password},
                #{boardTitle},
                #{contents}
            )
    </insert>




</mapper>